@model PixelGrid.Api.Views.Client.Models.ClientManageModel
@{
    ViewData["Title"] = "Manage a Client";
}

<h1 class="display-4">Manage Client @Model.Client.Name</h1>

<h2>Shared Users</h2>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>@nameof(Model.Client.Owner.UserName)</th>
        <th>@nameof(Model.Client.Owner.Email)</th>
        <th>Revoke</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Client.SharedUsers)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>
                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#clientDeleteShareModal" data-bs-clientId="@Model.Client.Id" data-bs-clientName="@Model.Client.Name" data-bs-userId="@user.Id" data-bs-userEmail="@user.Email">Revoke</button>
            </td>
        </tr>
    }
    </tbody>
</table>

<partial name="Components/ClientDeleteShareModal" />

<h2>Share with a new User</h2>
@if (Model.Users.Count > 0)
{
    <form asp-controller="ClientSharing" asp-action="Share" enctype="multipart/form-data" method="post">
        <div class="mb-3">
            <label for="shareWithUserList" class="form-label">Share with User</label>
            <select class="form-control dselect" id="shareWithUserList" name="userId">
                @foreach (var user in Model.Users)
                {
                    <option value="@user.Id">@user.Email</option>
                }
            </select>
        </div>

        <input hidden="hidden" name="clientId" value="@Model.Client.Id"/>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-primary">Share</button>
        </div>
    </form>
}
else
{
    <h2>No more users to share with </h2>
}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-primary" asp-controller="Client" asp-action="Index">Back to Clients overview</a>
</div>