@using PixelGrid.Api.Views.Shared.Components.DeleteSharedResourceShare
@model PixelGrid.Api.Controllers.ShareableResourceController<PixelGrid.Api.Data.Project>.ShareableResourceIndexModel
@{
    ViewData["Title"] = "Manage a Project";
}

<h1>Manage Project @Model.Resource.Name</h1>

<h2>Shared Users</h2>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>@nameof(Model.Resource.Owner.UserName)</th>
        <th>@nameof(Model.Resource.Owner.Email)</th>
        <th>Revoke</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Resource.SharedWith)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>
                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteShareModal" data-bs-resourceId="@Model.Resource.Id" data-bs-resourceName="@Model.Resource.Name" data-bs-userId="@user.Id" data-bs-userEmail="@user.Email">Revoke</button>
            </td>
        </tr>
    }
    </tbody>
</table>

<partial name="Components/DeleteSharedResourceShare/Modal" model="@(new DeleteSharedResourceShareModel("Project", Url.Action("Delete", "ProjectSharing")!))" />

<h2>Share this Project with a User</h2>
@if (Model.Users.Count > 0)
{
    <form asp-controller="ProjectSharing" asp-action="Share" enctype="multipart/form-data" method="post">
        <input hidden="hidden" name="resourceId" value="@Model.Resource.Id"/>
        
        <div class="input-group mb-3">
            <select class="form-control dselect" id="shareWithUserList" name="userId">
                @foreach (var user in Model.Users)
                {
                    <option value="@user.Id">@user.Email</option>
                }
            </select>

            <button class="btn btn-primary" type="submit">Share</button>
        </div>
    </form>
}
else
{
    <div class="alert alert-primary">
        No more users to share this Project with.
    </div>
}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-secondary" asp-controller="Project" asp-action="Index">Back to Projects overview</a>
</div>