@model PixelGrid.Api.Views.Shared.Components.DeleteSharedResourceShare.DeleteSharedResourceShareModel

<div class="modal fade" id="deleteShareModal" tabindex="-1">
    <div class="modal-dialog">
        <form action="@Model.Url" enctype="multipart/form-data" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Share with User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <label for="deleteShareModalResourceId" class="form-label">@Model.Name</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">@Model.Name Id</span>
                        <input type="text" class="form-control" id="deleteShareModalResourceId" name="resourceId" placeholder="@Model.Name Id" required="required" readonly="readonly" minlength="3">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">@Model.Name Name</span>
                        <input type="text" class="form-control" id="deleteShareModalResourceName" placeholder="@Model.Name Name" required="required" readonly="readonly" minlength="3">
                    </div>

                    <label for="deleteClientShareModalUserId" class="form-label">User</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">User Id</span>
                        <input type="text" class="form-control" id="deleteClientShareModalUserId" name="userId" placeholder="User Id" required="required" readonly="readonly" minlength="3">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">User Email</span>
                        <input type="text" class="form-control" id="deleteClientShareModalUserEmail" placeholder="Email" required="required" readonly="readonly" minlength="3">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
const deleteModal = document.getElementById('deleteShareModal');
deleteModal.addEventListener('show.bs.modal', function (event) {
    const button = event.relatedTarget;
    
    const clientId = button.getAttribute('data-bs-resourceId');
    const clientName = button.getAttribute('data-bs-resourceName');
    const userId = button.getAttribute('data-bs-userId');
    const userEmail = button.getAttribute('data-bs-userEmail');
    
    deleteModal.querySelector('.modal-title').textContent = 'Delete Share with User ' + userEmail;
    deleteModal.querySelector('#deleteShareModalResourceId').value = clientId;
    deleteModal.querySelector('#deleteShareModalResourceName').value = clientName;
    deleteModal.querySelector('#deleteClientShareModalUserId').value = userId;
    deleteModal.querySelector('#deleteClientShareModalUserEmail').value = userEmail;
});
</script>